{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container my-sm-3 my-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h2 class="logo-font mb-4 ps-4 jumbotron-heading shopping-cart-heading">Shopping Cart</h2>

<div class="container mb-5">

    <div class="row cart-container">
        <div class="col">
            {% if cart_items %}
            <div class="d-block d-md-none">

                <div class="row text-center my-4 d-md-none d-flex">
                    <div class="col-10 offset-1 py-3 jumbotron-heading">
                        {% include "cart/cart_total.html" %}
                    </div>
                </div>

                <div class="row mb-2 d-md-none d-flex">
                    <div class="col-12 checkout-buttons-col">
                        {% include "cart/checkout_buttons.html" %}
                    </div>
                </div>

                <div class="row d-md-none d-flex text-center">
                    <div class="col-12">
                        <p class="mt-3 cart-below">A summary of your cart contents is below</p>
                        <hr>
                    </div>
                </div>

                {% for item in cart_items %}
                <div class="row cart-contents position-relative item-row">
                    <div class="col-6 mb-2 image-container-cart">
                        {% include "cart/menu_item_image.html" %}
                    </div>
                    <div class="col-6 info-container-cart">
                        {% include "cart/menu_item_info.html" %}
                    </div>
                    <div class="col-12 col-sm-6 order-sm-last info-subtotal-grid">
                        <span><strong>Subtotal: </strong></span>
                        <p class="d-inline">€{{ item.menu_item.price | calc_subtotal:item.quantity }}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include "cart/quantity_form.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                {% endfor %}
                <div class="btt-button shadow-sm rounded-0 border border-black">
                    <a class="btt-link d-flex h-100" aria-label="Go to the top of the current page.">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>


            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm">
                    <thead class="text-black">
                        <tr class="order-table-headings">
                            <th scope="col" class="item-info-heading">Item Info</th>
                            <th scope="col"></th>
                            <th scope="col" class="d-lg-table-cell d-none">Price</th>
                            <th scope="col" class="d-lg-none d-table-cell">Subtotal</th>
                            <th scope="col" class="item-qty-heading d-lg-table-cell d-none">Qty</th>
                            <th scope="col" class="d-lg-table-cell d-none">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr class="item-row">
                        <td class="p-3 w-25 position-relative">
                            {% include "cart/menu_item_image.html" %}
                        </td>
                        <td class="py-3 info-cell">
                            {% include "cart/menu_item_info.html" %}
                        </td>
                        <td class="py-3">
                            <p class="mb-0 info-price d-lg-block d-none">€{{ item.menu_item.price }}</p>
                            <p class="mb-0 info-subtotal d-lg-none">
                                €{{ item.menu_item.price | calc_subtotal:item.quantity }}</p>
                        </td>
                        <td class="py-3 w-25 d-lg-table-cell d-none">
                            {% include "cart/quantity_form.html" %}
                        </td>
                        <td class="py-3 d-lg-table-cell d-none">
                            <p class="mb-0 info-subtotal d-lg-block d-none">
                                €{{ item.menu_item.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row text-center d-md-block d-none">
                <div class="col-6 offset-3 py-3 jumbotron-heading">
                    {% include "cart/cart_total.html" %}
                </div>
            </div>
            <hr>
            <div class="row mb-2 d-md-block d-none">
                <div class="col-12">
                    {% include "cart/checkout_buttons.html" %}
                </div>
            </div>

            {% else %}
            <p class="my-5 empty-cart-text text-center">Your cart is empty...</p>
            <a href="{% url 'menu' %}" class="btn btn-lg float-start cart-keep-shopping-button mb-3"
                aria-label="Go back to the menu.">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0">
    <a class="btt-link d-flex h-100" aria-label="Go to the top of the current page.">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'menu/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).parent().prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('menu_item_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'menu_item_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    var itemRows = $('.item-row');

    for (let i = 0; i < itemRows.length; i++) {
        if ($(itemRows[i]).find('.info-size').text() !== 'Size: N/A') {

            var itemSizeText = $(itemRows[i]).find('.info-size').text();
            var itemSizeInt = parseInt(itemSizeText.slice(6));

            $(itemRows[i]).find('.info-price').text(`€${itemSizeInt}.00`);

            var qtyVal = $(itemRows[i]).find('.qty_input').val();
            var subtotalInt = parseInt(qtyVal) * itemSizeInt;

            $(itemRows[i]).find('.info-subtotal').text(`€${subtotalInt}.00`);
        }

        if ($(itemRows[i]).find('.info-name').innerHeight() > 55) {
            $(itemRows[i]).find('.info-name').addClass('name-ellipsis');
            $(itemRows[i]).find('.info-name').addClass('js-added-font-size-decrease');
        }
    }

    $(window).resize(function () {
        if ($('body').innerWidth() <= 1382) {
            for (let i = 0; i < itemRows.length; i++) {
                if ($(itemRows[i]).find('.info-name').innerHeight() > 55);
                $(itemRows[i]).find('.info-name').addClass('name-ellipsis');
                $(itemRows[i]).find('.info-name').addClass('js-added-font-size-decrease');
            }
        }
    })
</script>
{% endblock %}