{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <hr>
    <h2 class="logo-font mb-4 jumbotron-heading"><span class="ms-5">Shopping Cart</span></h2>
    <hr>

    <div class="container mb-2">

        <div class="row cart-container">
            <div class="col">
                {% if cart_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">
                                {% include "cart/cart_total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "cart/checkout_buttons.html" %}
                                <p class="text-muted mb-5">A summary of your cart contents is below</p>
                            </div>
                        </div>
                        {% for item in cart_items %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "cart/menu_item_image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "cart/menu_item_info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: €{{ item.menu_item.price }}</p>
                                    <p><strong>Subtotal: </strong>€{{ item.menu_item.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% include "cart/quantity_form.html" %}
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>	
                        </div>
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col" class="item-info-heading">Item Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col" class="item-qty-heading">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr class="item-row">
                                    <td class="p-3 w-25 position-relative">
                                        {% include "cart/menu_item_image.html" %}
                                    </td>
                                    <td class="py-3 info-cell">
                                        {% include "cart/menu_item_info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="mb-0 info-price">€{{ item.menu_item.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "cart/quantity_form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="mb-0 info-subtotal">€{{ item.menu_item.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row text-center">
                        <div class="col-6 offset-3 py-3 jumbotron-heading">
                            {% include "cart/cart_total.html" %}
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-12">
                            {% include "cart/checkout_buttons.html" %}
                        </div>
                    </div>
                    
                {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'menu' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'menu/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).parent().prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('menu_item_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'menu_item_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    var itemRows = $('.item-row');

    for (let i = 0; i < itemRows.length; i++) {
        console.log(itemRows[i]);

        var itemSizeText = $(itemRows[i]).find('.info-size').text();
        var itemSize = parseInt(itemSizeText.slice(6));

        $(itemRows[i]).find('.info-price').text(`€${itemSize}.00`);

        var qtyVal = $(itemRows[i]).find('.qty_input').val();
        var subtotalInt = parseInt(qtyVal) * parseInt(itemSize);
        
        $(itemRows[i]).find('.info-subtotal').text(`€${subtotalInt}.00`);     
    }
</script>
{% endblock %}