<a href="{% url 'menu' %}" class="btn btn-lg float-start cart-keep-shopping-button mb-3 shadow"
    aria-label="Go back to the menu to continue browsing.">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>

<a href="{% url 'checkout' %}" class="btn btn-lg float-end secure-checkout-button mb-3 shadow"
    aria-label="Go to the checkout page.">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>