<div class="cart-image-container d-flex align-items-center">
    {% if item.menu_item.image %}
    <a href="{% url 'menu_item_detail' item.menu_item.id %}" class="cart-img-link">
        <img class="img-fluid cart-image ms-1" src="{{ item.menu_item.full_image.url }}"
            alt="An image of the {{ item.menu_item.name }}.">
    </a>
    {% else %}
    <a href="{% url 'menu_item_detail' item.menu_item.id %}" class="cart-img-link">
        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png"
            alt="A placeholder image for the {{ item.menu_item.name }}">
    </a>
    {% endif %}
</div>
<div class="position-absolute colour-band"></div>