<form class="form update-form d-lg-block d-none" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <div class="cart-form-group">
        <div class="input-group cart-input-group">

            <div class="input-group-prepend">
                <button class="decrement-qty btn rounded-0" data-item_id="{{ item.item_id }}"
                    id="decrement-qty_{{ item.item_id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>

            <input class="form-control qty_input py-0 ps-4" type="number" name="quantity" value="{{ item.quantity }}"
                min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">

            <div class="input-group-append">
                <button class="increment-qty btn rounded-0" data-item_id="{{ item.item_id }}"
                    id="increment-qty_{{ item.item_id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

            {% if item.menu_item.has_sizes %}
            <input type="hidden" name="menu_item_size" value="{{ item.size }}">
            {% endif %}

        </div>
    </div>
</form>
<div class="text-end superuser-zone update-remove-container position-relative px-1 d-lg-block d-none text-center">
    <a class="update-link cart-update-link superuser-option"
        aria-label="Update the quantity of {{ item.name }} in your cart."><small>Update</small></a>
    <span class="text-dark position-relative pe-1"> | </span>
    <a class="remove-item cart-remove-item superuser-option" id="remove_{{ item.item_id }}"
        data-menu_item_size="{{ item.size }}"
        aria-label="Remove the {{ item.name }} from your cart."><small>Remove</small></a>
</div>