{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load reason_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container header-container-profile mt-sm-3 mb-0 my-lg-4 mb-0 mt-3">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row g-0 profile-page-headings">
        <div class="col-6 my-profile-heading-container"><h2 class="logo-font mt-4 mb-4 jumbotron-heading ps-4 my-profile-text">My Profile</h2></div>
        <div class="col-6"><h2 class="logo-font mt-4 mb-4 jumbotron-heading text-end pe-4 logged-in-as-text">Logged in as <span class="{% if request.user.is_superuser %}text-info superuser-username-text{% else %}user-username-text{% endif %}">{{ request.user.username }}</span></h2></div>  
    </div>
    <hr>

    <div class="container">

        {% if request.user.user_profile.favourite_menu_item %}
        <div class="row mb-5">

            <div class="col-12 d-flex justify-content-center">
                <div class="favourite-image-container d-flex align-items-center">
                    {% if request.user.user_profile.favourite_menu_item.image %}
                    <img class="img-fluid fave-image ms-1" src="{{ request.user.user_profile.favourite_menu_item.full_image.url }}" alt="{{ request.user.user_profile.favourite_menu_item.name }}">   
                    {% else %}
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ request.user.user_profile.favourite_menu_item.name }}">
                    {% endif %}
                </div>
                <div class="position-absolute colour-band"></div>
            </div>

            <div class="col-12">
                <h2 class="fave-text pt-2 px-3 text-center">Your current favourite is the 
                    <br>
                    <i class="fas fa-star lit-fave-star-colour-profile"></i>
                    {{ request.user.user_profile.favourite_menu_item }}
                    <i class="fas fa-star lit-fave-star-colour-profile"></i>
                </h2>
            </div>

            <div class="d-none d-flex justify-content-center">
                <div class="favourite-image-container d-flex align-items-center">
                    {% if request.user.user_profile.favourite_menu_item.image %}
                    <img class="img-fluid fave-image ms-1" src="{{ request.user.user_profile.favourite_menu_item.full_image.url }}" alt="{{ request.user.user_profile.favourite_menu_item.name }}">   
                    {% else %}
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ request.user.user_profile.favourite_menu_item.name }}">
                    {% endif %}
                </div>
                <div class="position-absolute colour-band"></div>
            </div>
        </div>
        {% endif %}

        <div class="row mb-5 profile-row-one">

            <div class="col-6 delivery-info-col">
                <p class="jumbotron-heading ps-3 profile-info-heading">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn text-uppercase float-end update-info-btn">Update Information</button>
                </form>
            </div>

            <div class="col-6">
                <p class="jumbotron-heading ps-3 order-history-heading">Order History</p>
                <div class="order-history table-responsive order-history-container">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th class="items-heading d-sm-table-cell d-none">Items</th>
                                <th class="d-sm-table-cell d-none">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" class="order-number-link">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td class="d-sm-table-cell d-none">
                                        <ul class="list">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.menu_item.has_sizes %}
                                                        {{ item.menu_item_size }}''
                                                    {% endif %}{{ item.menu_item.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="d-sm-table-cell d-none">${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section class="container reviews-container mb-5 jumbotron">
        <h2 class="jumbotron-heading ps-sm-4 mt-3 text-sm-start text-center ps-0 reviews-heading">Your reviews</h2>

        <div class="text-center mb-2">
            {% for key, value in review_counts.items %}
            <a href="{% url 'profile' %}?rating_word={{ key }}{% if key != 'All' %}!{% endif %}" class="{{ key|lower }} review-words">{{ key }}{% if forloop.counter != 1 %}!{% endif %} ({{ value }}){% if forloop.counter != 6 %},{% endif %}</a>
            {% if forloop.counter|divisibleby:2 %}
            <div class="d-sm-none d-block my-0 mx-0 h-0"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="d-lg-none d-sm-block d-none my-0 mx-0 h-0"></div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row mb-5" data-masonry='{"percentPosition": true }'>     
            {% for review in reviews %}
            <div class="col-md-4 col-sm-6 col-10 offset-sm-0 offset-1">
                <div class="card review-card">
                    <div class="card-header text-center text-lg-start review-header">
                        <h2 class="mb-0 rating-word" data-stars="{{ review.rating }}">{{ review.get_rating_display }}</h2>
                        <i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i>
                    </div>
                    <div class="card-body review-body">
                        <p class="review-text">{{ review.review }}</p>
                    </div>
                    <div class="card-footer review-footer">
                        <p class="small poster-text mb-0">Review of the <strong>{{ review.menu_item.name }}</strong> Posted on {{ review.created_on }}</p>
                        <a href="{% url 'menu_item_detail' review.menu_item.id %}">Go to the <strong>{{ review.menu_item.name }}</strong> page</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation mt-5">
            <ul class="pagination justify-content-center">

                {% if reviews.has_previous %}
                <li class="page-item mx-1">
                    <a href="?page=1" class="page-link btn functioning-btn-alt d-sm-block d-none">&laquo; first</a>
                    <a href="?page=1" class="page-link btn functioning-btn-alt d-sm-none d-block">&laquo;&laquo;</a>
                </li>
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.previous_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the previous page of reviews.">&laquo; PREV
                    </a>
                    <a href="?page={{ reviews.previous_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the previous page of reviews.">&laquo;
                    </a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span href="?page=1" class="page-link btn non-functioning-btn d-sm-block d-none">&laquo; first</span>
                    <span href="?page=1" class="page-link btn non-functioning-btn d-sm-none d-block">&laquo;&laquo;</span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none" aria-label="Go to the previous page of reviews.">
                        &laquo; PREV
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block" aria-label="Go to the previous page of reviews.">
                        &laquo;
                    </span>
                </li>
                {% endif %}

                {% if reviews.has_next %}
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.next_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the next page of reviews.">
                        NEXT &raquo;
                    </a>
                    <a href="?page={{ reviews.next_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the next page of reviews.">
                        &raquo;
                    </a>
                </li>
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-block d-none">last &raquo;</a>
                    <a href="?page={{ reviews.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-none d-block">&raquo;&raquo;</a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">
                        NEXT &raquo;
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">
                        &raquo;
                    </span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">last &raquo;</span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">&raquo;&raquo;</span>
                </li>
                {% endif %}

            </ul>
        </nav>
    </section>

    <section class="container user-messages-container mb-5 jumbotron">
        <h2 class="jumbotron-heading ps-sm-4 mt-3 text-sm-start text-center ps-0 reviews-heading">Your message history</h2>

        <div class="text-center mb-2">
            {% for key, value in user_message_counts.items %}
            <a href="{% url 'profile' %}?reason_words={{ key|replace_spaces }}" class="{{ key|replace_spaces|lower }} reason-words">{{ key }} ({{ value }}){% if forloop.counter != 5 %},{% endif %}</a>
            {% if forloop.counter|divisibleby:2 %}
            <div class="d-lg-none d-md-block my-0 mx-0 h-0"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="d-md-none d-sm-block my-0 mx-0 h-0"></div>
            {% endif %}
            {% endfor %}          
        </div>

        {% for user_message in user_messages %}
        <div class="row">
            <div class="col my-2">
                <div class="card user-message-card">
                    <div class="card-header">
                        <h2 class="my-0 reason-word" data-number="{{ user_message.reason }}">{{ user_message.get_reason_display }}</h2>
                    </div>
                    <div class="card-body px-4">
                        <p class="name-ellipsis-alt my-0 message-preview">{{ user_message.user_msg }}</p>
                        <p class="collapse" id="collapse-message-{{ user_message.id }}">{{ user_message.user_msg }}</p>
                        <a class="text-end inline-block message-expand-link" data-bs-toggle="collapse" href="#collapse-message-{{ user_message.id }}" role="button" aria-expanded="false" aria-controls="collapse-message-{{ user_message.id }}">Full message &raquo;</a>
                    </div>
                    <div class="card-footer text-end">{{ user_message.created_on }}</div>
                </div>
            </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation mt-5">
            <ul class="pagination justify-content-center">

                {% if user_messages.has_previous %}
                <li class="page-item mx-1">
                    <a href="?msg_page=1" class="page-link btn functioning-btn-alt d-sm-block d-none">&laquo; first</a>
                    <a href="?msg_page=1" class="page-link btn functioning-btn-alt d-sm-none d-block">&laquo;&laquo;</a>
                </li>
                <li class="page-item mx-1">
                    <a href="?msg_page={{ user_messages.previous_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the previous page of messages.">&laquo; PREV
                    </a>
                    <a href="?msg_page={{ user_messages.previous_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the previous page of messages.">&laquo;
                    </a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span href="?msg_page=1" class="page-link btn non-functioning-btn d-sm-block d-none">&laquo; first</span>
                    <span href="?msg_page=1" class="page-link btn non-functioning-btn d-sm-none d-block">&laquo;&laquo;</span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none" aria-label="Go to the previous page of messages.">
                        &laquo; PREV
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block" aria-label="Go to the previous page of messages.">
                        &laquo;
                    </span>
                </li>
                {% endif %}

                {% if user_messages.has_next %}
                <li class="page-item mx-1">
                    <a href="?msg_page={{ user_messages.next_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the next page of messages.">
                        NEXT &raquo;
                    </a>
                    <a href="?msg_page={{ user_messages.next_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the next page of messages.">
                        &raquo;
                    </a>
                </li>
                <li class="page-item mx-1">
                    <a href="?msg_page={{ user_messages.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-block d-none">last &raquo;</a>
                    <a href="?msg_page={{ user_messages.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-none d-block">&raquo;&raquo;</a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">
                        NEXT &raquo;
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">
                        &raquo;
                    </span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">last &raquo;</span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">&raquo;&raquo;</span>
                </li>
                {% endif %}

            </ul>
        </nav>
    </section>

    <div class="btt-button shadow-sm rounded-0">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <script type="text/javascript">
        $('.btt-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>

    <script type="text/javascript">
        var reviews = $('.review-card');

        for (i = 0; i < reviews.length; i++) {
            var starRating = $(reviews[i]).find('h2').data('stars');
            var stars = $(reviews[i]).find('i');

            for (n = 0; n < starRating; n++) {
                $(stars[n]).removeClass('default-star-colour');
                $(stars[n]).addClass('lit-star-colour');

                $(reviews[i]).addClass(`rating-border-${starRating}`);
            }
        }

        var userMessages = $('.user-message-card');

        for (j = 0; j < userMessages.length; j++) {
            var reasonNumber = $(userMessages[j]).find('h2').data('number');

            for (o = 0; o < starRating; o++) {
                $(userMessages[j]).addClass(`message-border-${reasonNumber}`);
            }
        }
    </script>

    <script>
        var msgExpandLinks = $('.message-expand-link');

        for (a = 0; a < msgExpandLinks.length; a++) {
            var msgExpandLink = $(msgExpandLinks[a]);
            var msgPreview = $(msgExpandLinks[a]).prev().prev();
            var cardBody = $(msgPreview).parent();
            
            $(msgExpandLink).click(generateHandler(msgPreview, msgExpandLink));

            var msgWidth = msgPreview.innerWidth();

            var cardBodyWidth = cardBody.innerWidth();

            var eightyPercent = (cardBodyWidth - 48) * .80;

            if (Math.round(msgWidth) < Math.round(eightyPercent)) {
                msgExpandLink.addClass('d-none');
            }
        }

        function generateHandler(msgPreview, msgExpandLink) {
            return function(event) {
                togglePreview(msgPreview, msgExpandLink);
            };
        }

        function togglePreview(msgPreview, msgExpandLink) {
            if (msgPreview.hasClass('name-ellipsis-alt')) {
                msgPreview.removeClass('name-ellipsis-alt');
                msgPreview.addClass('d-none')
            } else {
                msgPreview.removeClass('d-none');
                msgPreview.addClass('name-ellipsis-alt');
            }

            if (msgPreview.is(':hidden')) {
                msgExpandLink.text('« Collapse');    
            } else {
                msgExpandLink.text('Full message »');
            }
        }

        $(window).resize(function() {
            var msgExpandLinks = $('.message-expand-link');

            for (a = 0; a < msgExpandLinks.length; a++) {
                var msgExpandLink = $(msgExpandLinks[a]);
                var msgPreview = $(msgExpandLinks[a]).prev().prev();
                var cardBody = $(msgPreview).parent();

                var msgWidth = msgPreview.innerWidth();

                var cardBodyWidth = cardBody.innerWidth();

                var eightyPercent = (cardBodyWidth - 48) * .80;

                if (Math.round(msgWidth) < Math.round(eightyPercent)) {
                    msgExpandLink.addClass('d-none');
                } else {
                    msgExpandLink.removeClass('d-none');
                }
            }    
        })
    </script>
{% endblock %}