{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Menu Management</h2>
                <h5 class="text-muted">Add a Menu Item</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_menu_item' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'image' or field.name == 'full_image' %}
                            {{ field }} 
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'menu' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Menu Item</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#image').change(function() {
            var file = $('#image')[0].files[0];
            $('#filename-image').text(`Image will be set to: ${file.name}`);
        });

        $('#full_image').change(function() {
            var file = $('#full_image')[0].files[0];
            $('#filename-full_image').text(`Full image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}