{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<hr>
<h2 class="logo-font jumbotron-heading"><span class="ms-5">Menu</span></h2>

<div class="container-fluid">

    <div class="row">
        <div class="col text-center">
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'menu' %}?category={{ c.name }}">
                <span
                    class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="mb-1" style="color:#f19832;">
        </div>
    </div>
            
    <div class="row">
        <div class="menu-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 my-auto order-md-last d-flex justify-content-center justify-content-md-end {% if search_term %}col-md-5{% else %}col-md-6{% endif %}">
                    <div class="sort-select-wrapper text-end">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 search-results-container order-md-first {% if search_term %}col-md-7{% else %}col-md-6{% endif %}">
                    <p class="search-results-num mt-3 text-center text-md-left jumbotron-heading d-inline-block px-2 {% if search_term or current_categories or current_sorting != 'None_None' %}search-results-with-link{%endif%}">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span><a href="{% url 'menu' %}" class="menu-home-link">Menu Home</a> | </span>
                        {% endif %}
                        {{ menu_items|length }} menu item{% if not search_term %}s{% elif search_term %}(s) found for
                        "{{ search_term }}"{% endif %}
                    </p>
                </div>
            </div>
            <hr class="mt-0" style="color:#f19832;">
            <div class="row">

                {% if not search_term and not current_categories and current_sorting == 'None_None' %}
                <h2 class="jumbotron-heading py-2 ms-3 menu-heading">Pizzas</h2>
                {% endif %}

                {% for menu_item in menu_items %}
                    {% if current_sorting != 'None_None' %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 {% if search_term or current_categories or current_sorting != 'None_None' %}mt-4{% endif %}">
                        <div class="card h-100 border-0">

                            <div class="card-body pb-0">

                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.image %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}"
                                            class="d-inline-block float-end">
                                            <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}" class="img-fluid {% if menu_item.category.name == 'sides'%}mb-3{% endif %}">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ menu_item.name }}" class="img-fluid">
                                        </a>
                                        {% endif %}

                                        <h3 class="d-inline-block float-start menu-name-text">{{ menu_item.name }}</h3>
                                    </div>
                                </div>
                                
                                <hr class="name-ingredients-divider">
                                <p class="d-inline-block mb-0 menu-ingredients-text">{{ menu_item.ingredients }} <small class="float-end">({{ menu_item.calories }})</small></p>
                                <hr>

                            </div>

                            <div class="card-footer bg-white pt-0 border-0 text-left">

                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.category.name == 'pizzas' %}
                                        <small>Starting from €{{ menu_item.price }}</small>
                                        {% else %}
                                        <small>€{{ menu_item.price }} each</small>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted"
                                                href="{% url 'menu' %}?category={{ menu_item.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ menu_item.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                        
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ menu_item.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>

                                    {% if not request.user.is_superuser %}
                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                    {% endif %}
                                </div>
                                
                                {% if request.user.is_superuser %}
                                <div class="row">
                                    <div class="col edit-delete-options">
                                        <small class="ml-3">
                                            <a href="{% url 'edit_menu_item' menu_item.id %}">Edit</a> |
                                            <a class="text-danger"
                                                href="{% url 'delete_menu_item' menu_item.id %}">Delete</a>
                                        </small>
                                        
                                    </div>

                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-sm-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-lg-block d-xl-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-xl-block">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}

                    {% elif menu_item.category.name == 'pizzas' and current_sorting == 'None_None' %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 {% if search_term or current_categories or current_sorting != 'None_None' %}mt-4{% endif %}">
                        <div class="card h-100 border-0">

                            <div class="card-body pb-0">

                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.image %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}"
                                            class="d-inline-block float-end">
                                            <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}" class="img-fluid">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ menu_item.name }}" class="img-fluid">
                                        </a>
                                        {% endif %}

                                        <h3 class="d-inline-block float-start menu-name-text">{{ menu_item.name }}</h3>
                                    </div>
                                </div>
                                
                                <hr class="name-ingredients-divider">
                                <p class="d-inline-block mb-0 menu-ingredients-text">{{ menu_item.ingredients }} <small class="float-end">({{ menu_item.calories }})</small></p>
                                <hr>

                            </div>

                            <div class="card-footer bg-white pt-0 border-0 text-left">

                                <div class="row">
                                    <div class="col">
                                        <small>Starting from €{{ menu_item.price }}</small>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted"
                                                href="{% url 'menu' %}?category={{ menu_item.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ menu_item.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                        
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ menu_item.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>

                                    {% if not request.user.is_superuser %}
                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                    {% endif %}
                                </div>
                                
                                {% if request.user.is_superuser %}
                                <div class="row">
                                    <div class="col edit-delete-options">
                                        <small class="ml-3">
                                            <a href="{% url 'edit_menu_item' menu_item.id %}">Edit</a> |
                                            <a class="text-danger"
                                                href="{% url 'delete_menu_item' menu_item.id %}">Delete</a>
                                        </small>
                                        
                                    </div>

                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-sm-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-lg-block d-xl-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-xl-block">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
   
                    {% endif %}

                {% endfor %}
            </div>

            <div class="row">

                {% if not search_term and not current_categories and current_sorting == 'None_None' %}
                <h2 class="jumbotron-heading py-2 ms-3 menu-heading">Sides</h2>
                {% endif %}

                {% for menu_item in menu_items %}
                    {% if menu_item.category.name == 'sides' and current_sorting == 'None_None' %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 {% if search_term or current_categories or current_sorting != 'None_None' %}mt-4{% endif %}">
                        <div class="card h-100 border-0">

                            <div class="card-body pb-0">

                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.image %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}"
                                            class="d-inline-block float-end">
                                            <img src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}" class="img-fluid mb-3">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'menu_item_detail' menu_item.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ menu_item.name }}" class="mb-3">
                                        </a>
                                        {% endif %}

                                        <h3 class="d-inline-block float-start menu-name-text">{{ menu_item.name }}</h3>
                                    </div>
                                </div>
                                
                                <hr class="name-ingredients-divider">
                                <p class="d-inline-block mb-0 menu-ingredients-text">{{ menu_item.ingredients }} <small class="float-end">({{ menu_item.calories }})</small></p>
                                <hr>

                            </div>

                            <div class="card-footer bg-white pt-0 border-0 text-left">

                                <div class="row">
                                    <div class="col">
                                        <small>€{{ menu_item.price }} each</small>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted"
                                                href="{% url 'menu' %}?category={{ menu_item.category.name }}">
                                                <i class="fas fa-tag mr-1"></i>{{ menu_item.category.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                        
                                <div class="row">
                                    <div class="col">
                                        {% if menu_item.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ menu_item.rating }} /
                                            5</small>
                                        {% else %}
                                        <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>

                                    {% if not request.user.is_superuser %}
                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                    {% endif %}
                                </div>
                                
                                {% if request.user.is_superuser %}
                                <div class="row">
                                    <div class="col edit-delete-options">
                                        <small class="ml-3">
                                            <a href="{% url 'edit_menu_item' menu_item.id %}">Edit</a> |
                                            <a class="text-danger"
                                                href="{% url 'delete_menu_item' menu_item.id %}">Delete</a>
                                        </small>
                                        
                                    </div>

                                    <div class="col">
                                        <a href="{% url 'menu_item_detail' menu_item.id %}" class="btn btn-lg order-button">Order now</a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-sm-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-lg-block d-xl-none">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 and not search_term and not current_categories and current_sorting == 'None_None' %}
                    <div class="col-12 d-none d-xl-block">
                        <hr style="color:#f19832;">
                    </div>
                    {% endif %}

                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}