{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container my-sm-3 my-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container jumbotron item-container mt-5 mb-5">
        <div class="row image-and-details-row">

            {% if menu_item.category.name == 'pizzas' %}
            <div class="col-6 image-container-col">
                <div class="outer-ring text-center my-5 d-flex align-items-center ms-5">
                    <div class="pizza-image-container bg-white mx-3 overflow-hidden text-center">
                        {% if menu_item.image %}
                        <img src="{{ menu_item.full_image.url }}" alt="{{ menu_item.name }}" class="mt-4 img-fluid">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ menu_item.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-6 image-container-col-sides">
                <div class="outer-box text-center my-5 d-flex align-items-center ms-5">
                    <div class="side-image-container bg-white mx-3 overflow-hidden text-center">
                        {% if menu_item.image %}
                        <img src="{{ menu_item.full_image.url }}" alt="{{ menu_item.name }}" class="mt-4 img-fluid">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ menu_item.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-6 g-0 {% if menu_item.category.name == 'sides' %} sides-details-col {% else %}pizza-details-col{% endif %}">
                <div class="product-details-container mb-5 mt-5 bg-white me-5 {% if menu_item.category.name == 'sides'%}product-details-container-sides{% endif %}">
                    <p class="ps-3 mb-0 jumbotron-heading">{{ menu_item.name }}</p>

                    <p class="mt-3 ps-3 mb-0 ingredients">{{ menu_item.ingredients }}</p>

                    <p class="mb-2 ps-3 text-left font-weight-bold price">€{{ menu_item.price }}</p>

                    {% if menu_item.category %}
                    <p class="small mt-1 mb-0 ps-3">
                        <a class="text-muted" href="{% url 'menu' %}?category={{ menu_item.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ menu_item.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}

                    <p class="text-muted ps-3">Rating: {{ rating | floatformat:1 }}/5</p>

                    <form class="form" action="{% url 'add_to_cart' menu_item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">

                            {% with menu_item.has_sizes as s %}
                            {% if s %}
                                <div class="col-12 ps-3 mt-2">
                                    <p class="mb-0"><strong>Size:</strong></p>
                                    <select class="form-control rounded-0" name="menu_item_size" id='id_menu_item_size'>
                                        <option value="10" selected>10'' (small)</option>
                                        <option value="12">12'' (medium)</option>
                                        <option value="14">14'' (large)</option>
                                    </select>
                                </div>
                            {% endif %}

                            <div class="col-12 ps-3">
                                <p class="mt-3 mb-0"><strong>Quantity:</strong></p>
                                <div class="detail-page-form-group">
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded-0" 
                                                data-item_id="{{ menu_item.id }}" id="decrement-qty_{{ menu_item.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>

                                        <input class="form-control qty_input py-0" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ menu_item.id }}"
                                            id="id_qty_{{ menu_item.id }}">

                                        <div class="input-group-append">
                                            <button class="increment-qty btn rounded-0"
                                                data-item_id="{{ menu_item.id }}" id="increment-qty_{{ menu_item.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">

                                <a href="{% url 'menu' %}" class="btn shadow mt-3 mb-2 keep-shopping-btn ms-3 {% if menu_item.category.name == 'sides' %}ks-btn-sides{% endif %}">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left chevron-icon"></i>
                                    </span>
                                    <span class="text-uppercase keep-shopping-text">Keep Shopping</span>
                                </a>

                                <input type="submit" class="btn shadow text-uppercase mt-3 mb-2 me-3 add-to-cart-btn float-end {% if menu_item.category.name == 'sides' %}atc-btn-sides{% endif %}" value="Add to Cart">

                                {% if request.user.is_superuser %}
                                <div class="text-end superuser-zone position-relative">
                                    <h3 class="text-info text-start position-absolute mt-1 ms-2">Superuser zone</h3>
                                    <a href="{% url 'edit_menu_item' menu_item.id %}" class="btn px-0 d-inline-block superuser-option">Edit</a>
                                    <span class="text-dark position-relative"> | </span>
                                    <a class="btn me-3 px-0 d-inline-block superuser-option" href="{% url 'delete_menu_item' menu_item.id %}">Delete</a>
                                </div>
                                {% endif %}

                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 jumbotron-heading py-5 px-5 mb-5 description-container">
                <p class="item-description">{{ menu_item.description }}</p>
            </div>
        </div>
    </div>
    <section class="container reviews-container mb-5 jumbotron">
        <h2 class="jumbotron-heading ps-sm-4 mt-3 text-sm-start text-center ps-0 reviews-heading">Reviews</h2>

        <div class="text-center mb-2">
            {% for key, value in review_counts.items %}
            <a href="{% url 'menu_item_detail' menu_item.id %}?rating_word={{ key }}{% if key != 'All' %}!{% endif %}" class="{{ key|lower }} review-words">{{ key }}{% if forloop.counter != 1 %}!{% endif %} ({{ value }}){% if forloop.counter != 6 %},{% endif %}</a>
            {% if forloop.counter|divisibleby:2 %}
            <div class="d-sm-none d-block my-0 mx-0 h-0"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="d-lg-none d-sm-block d-none my-0 mx-0 h-0"></div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row mb-5" data-masonry='{"percentPosition": true }'>     
            {% for review in reviews %}
            <div class="col-md-4 col-sm-6 col-10 offset-sm-0 offset-1">
                <div class="card review-card">
                    <div class="card-header text-center text-lg-start review-header">
                        <h2 class="mb-0 rating-word" data-stars="{{ review.rating }}">{{ review.get_rating_display }}</h2>
                        <i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i><i class="fas fa-star default-star-colour"></i>
                    </div>
                    <div class="card-body review-body">
                        <p class="review-text">{{ review.review }}</p>
                    </div>
                    <div class="card-footer review-footer">
                        <p class="small poster-text">Posted by <strong class="poster">{{ review.poster }}</strong> on {{ review.created_on }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation mt-5">
            <ul class="pagination justify-content-center">

                {% if reviews.has_previous %}
                <li class="page-item mx-1">
                    <a href="?page=1" class="page-link btn functioning-btn-alt d-sm-block d-none">&laquo; first</a>
                    <a href="?page=1" class="page-link btn functioning-btn-alt d-sm-none d-block">&laquo;&laquo;</a>
                </li>
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.previous_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the previous page of bulletins.">&laquo; PREV
                    </a>
                    <a href="?page={{ reviews.previous_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the previous page of bulletins.">&laquo;
                    </a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span href="?page=1" class="page-link btn non-functioning-btn d-sm-block d-none">&laquo; first</span>
                    <span href="?page=1" class="page-link btn non-functioning-btn d-sm-none d-block">&laquo;&laquo;</span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none" aria-label="Go to the previous page of bulletins.">
                        &laquo; PREV
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block" aria-label="Go to the previous page of bulletins.">
                        &laquo;
                    </span>
                </li>
                {% endif %}

                {% if reviews.has_next %}
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.next_page_number }}" class="page-link btn functioning-btn d-sm-block d-none"
                        aria-label="Go to the next page of bulletins.">
                        NEXT &raquo;
                    </a>
                    <a href="?page={{ reviews.next_page_number }}" class="page-link btn functioning-btn d-sm-none d-block"
                        aria-label="Go to the next page of bulletins.">
                        &raquo;
                    </a>
                </li>
                <li class="page-item mx-1">
                    <a href="?page={{ reviews.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-block d-none">last &raquo;</a>
                    <a href="?page={{ reviews.paginator.num_pages }}" class="page-link btn functioning-btn-alt d-sm-none d-block">&raquo;&raquo;</a>
                </li>
                {% else %}
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">
                        NEXT &raquo;
                    </span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">
                        &raquo;
                    </span>
                </li>
                <li class="page-item mx-1">
                    <span class="page-link btn non-functioning-btn d-sm-block d-none">last &raquo;</span>
                    <span class="page-link btn non-functioning-btn d-sm-none d-block">&raquo;&raquo;</span>
                </li>
                {% endif %}

            </ul>
        </nav>
    </section>

    {% if request.user.is_authenticated %}
    <section class="review-form-section container mb-5">
        <div class="row">
            <div class="col-4 offset-4">

                <form method="POST" action="{% url 'menu_item_detail' menu_item.id %}" class="review-form">
                    {% csrf_token %}

                    <div class="card">
                        {% for field in review_form %}
                            {% if field.name == 'rating' %}
                            <div class="card-header text-center">
                                <i class="fas fa-star lit-star-colour me-1"></i>
                                <h2 class="d-inline-block mt-2 mb-0">Write a review!</h2>
                                <i class="fas fa-star lit-star-colour ms-1"></i>
                                {{ field | as_crispy_field }}
                            </div>
                            {% elif field.name == 'review' %}
                            <div class="card-body text-center">
                                {{ field | as_crispy_field }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="card-footer text-center">
                            <i class="fas fa-star lit-star-colour me-1"></i>
                            <button type="submit" class="btn review-submit-btn">Post review</button>
                            <i class="fas fa-star lit-star-colour ms-1"></i>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>
    {% endif %}

    <div class="btt-button shadow-sm rounded-0">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'menu/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#id_menu_item_size').change(function(e) {
        var size = $(this).val();
        $('.price').text(`€${size}.00`);
    })
</script>

<script type="text/javascript">
    var reviews = $('.review-card');

    for (i = 0; i < reviews.length; i++) {
        var starRating = $(reviews[i]).find('h2').data('stars');
        var stars = $(reviews[i]).find('i');

        for (n = 0; n < starRating; n++) {
            $(stars[n]).removeClass('default-star-colour');
            $(stars[n]).addClass('lit-star-colour');

            $(reviews[i]).addClass(`rating-border-${starRating}`);
        }
    }
</script>

<script>
    let ratingSelected = $('#id_rating').val();
    
    if (!ratingSelected) {
        $('#id_rating').css('color', '#929292');
        $('#id_rating option').css('color', '#000');
        $('#id_rating option:first-child').css('color', '#929292');
    } else {
        $('#id_rating').css('color', '#000');
        $('#id_rating option').css('color', '#000');
        $('#id_rating option:first-child').css('color', '#929292');
    }
        
    $('#id_rating').change(function() {
        ratingSelected = $(this).val();
    
        if(!ratingSelected) {
            $(this).css('color', '#929292');
        } else {
            $(this).css('color', '#000');
        }
    });

    var ratingOptions = $('#id_rating>option');
    console.log(ratingOptions)

    for(x = 0; x < ratingOptions.length; x++) {
        if (x === 0) {
            continue;
        }

        var ratingText = $(ratingOptions[x]).text();

        if (x === 1) {
            $(ratingOptions[x]).text(`${ratingText} (${x} star)`);
        } else {
            $(ratingOptions[x]).text(`${ratingText} (${x} stars)`);
        }
    }
</script>

{% endblock %}